<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <link rel="stylesheet" type="text/css" href="common/css/style.css" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, maximum-scale=1"
    />
    <!--[if lt IE 9]>
      <script src="common/js/html5shiv.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->
    <title>いろんなコンポーネント</title>
  </head>
  <body>
    <div class="modal">
      <h2>モーダルウィンドウ</h2>
      <div class="modal__open js-modal__open">詳細を見る</div>
      <div class="modal__mask js-modal__mask hidden"></div>
      <section class="modal__window js-modal__window hidden">
        <p>モーダルウィンドウを開きました。モーダルウィンドウを開きました。モーダルウィンドウを開きました。モーダルウィンドウを開きました。モーダルウィンドウを開きました。モーダルウィンドウを開きました。モーダルウィンドウを開きました。モーダルウィンドウを開きました。モーダルウィンドウを開きました。</p>
        <div class="modal__close js-modal__close">閉じる</div>
      </section>
    </div>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script type="text/javascript" src="common/js/main.js"></script>
  </body>
</html>
